#top-logo {
    max-width: 400px;
}

nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

#section-image {
    max-width: 100%;
}

#Section1 {
    background-color: rgb(245, 240, 230);
    display: inline-block;
    width: 100%;
    scroll-margin-top: 150px;
}

#Section2 {
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    
    color: white;
    display: inline-block;
    width: 100%;
    scroll-margin-top: 150px;
}

#Section3 {
    color: black;
    background-color: rgb(245, 240, 230);
    display: inline-block;
    width: 100%;
    scroll-margin-top: 150px;
}

li {
    display: inline;
    float: left;
    max-width: 400px;
    font-size: 28px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
  }

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #182b49;
    color: white;
    
  }

p {
    font-size: 28px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
    padding: 5px 20px;
  }

.one {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}

.two {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}

.three {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}
.four {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}

@media screen and (max-width: 800px) {
    nav {
        display: none;
    }

    #top-logo {
        max-width: 75%;
    }

    p {
        font-size: 20px;
    }

    h2 {
        font-size: 24px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        grid-auto-rows: minmax(100px, auto);
      }
}